{% extends "layouts/base.html" %}


{% block content %}

{% block stylesheets %}

<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    }
</style>
   
{% endblock stylesheets %}

<!-- wip, will properly implement the leaderboard table once we get to the database. -->

<table>
    <caption>Leaderboard</caption>
    <tr >
    <th>No.</th>
    <th>Name</th>
    <th>Score</th>
    </tr>
    <tr>
    <td>1</td>
    <td>guest</td>
    <td>500</td>
    </tr>
    <tr>
    <td>2</td>
    <td>guest</td>
    <td>450</td>
    </tr>
    <tr>
    <td>3</td>
    <td>guest</td>
    <td>300</td>
    </tr>
    </table>
{% endblock content %}